body{
    background-color:white;
}
.row{
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 30px;
    color:white;
}
.titulo{
    color:#B22222;
    text-align: center;
}

.titulosec{
    color:rosybrown;
    text-align: center;
    
}
.columna{
    padding: 10px;
    margin-left: 20px;
}
.parrafo{
    font-family: 'Times New Roman', Times, serif;
    padding: 3px;
    margin-bottom: 1px;
    color:grey;
    text-align: center;
}


.h4{
    color:#222a2e;
    margin-bottom: 40px;
    text-align: center;
    padding: 30px;

}

.h6{
    margin-bottom:1px;
    text-align: center;
}
 .imagen:hover{
     background-color: lightblue;
 }

 .imagen{
     background-image: url(imagen.jpg);
 }
 .card-body{
     color: grey;
 }
.body{
height: 100%;
width: 100%;
}
    

