.menu{
    padding-right: 50px;
}

.conten{
    background-image: url(../IMG/imagen.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.conten:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color:aqua;
    position: absolute;
    opacity: 0.4;
   
}

.conten h4{
    position: relative;
    color: black;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%;   
}
.conten h6{
    position: relative;
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;   
}
.contenform{
    position: relative;
    font-size: 60px;
    width: 60%;
}
.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.6);
    padding-top: 15px;
 }
  
 .login-page {
   padding: 18% 0 0;
   margin: 0 auto 100px;
   max-width: 360px;
   position: relative;
 }
  
 .login-form {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
 }
  
 .login-form-header {
    padding-top: 16px;
 }
  
 .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
 }
  
 .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
 }
  
 .login-form-font-header span {
    color: #007C9B;
 }

 /*----Estilo para los textos hoja Servicios realizados-----*/

.titulo{
    text-align:center;
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}
.titulosecundario{
    text-align:center;
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-width: 1px;
    border-color: #001c39;
    color: #001c39;
}
.p{
    background-color: grey;
}


.parrafo{
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    color:#da291c;
    text-align:center;
    position:absolute;
   bottom: 280px;
   margin-left: 60px;
}

.parrafobuscar{
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#001c39;
}


/* estilo para auto los autos*/

.gallery {
    margin: 5px;
    float: left;
    width: 180px;
    margin-left: 150px;
    
  }
  
  .gallery:hover {
    border: 2px solid #da291c;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    
  }
  
  .desc {
    padding: 18px;
    text-align: center;
    
  }

.parrafocorsa{
color:black;
font-size: 22px;
}
.colorbackcorsa{
    background-color:#008080;
}
.marginbtnestado{
    
    border-style: solid;
    border-width: 3px;
    border-color: #da291c;
}


