.menu{
    padding-right: 50px;
}

.conten{
    background-image: url(../IMG/imagen.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conten:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: absolute;
    opacity: 0.5;
}

.conten h4{
    position: relative;
    color: black;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;   
}
.conten h6{
    position: relative;
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;   
}
.contenform{
    position: relative;
    font-size: 60px;
    width: 60%;
}
.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 15px;
 }
  
 .login-page {
   padding: 18% 0 0;
   margin: 0 auto 100px;
   max-width: 360px;
   position: relative;
 }
  
 .login-form {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
 }
  
 .login-form-header {
    padding-top: 16px;
 }
  
 .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
 }
  
 .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
 }
  
 .login-form-font-header span {
    color: #007C9B;
 }
